# moe moe kyun <3
# Nossa listinha de arquivos que o git ignora, pra n sujar o repo com artefatos de build
build/
*.iso
*.o
*.elf
*.bin
*.rlib
*.rmeta
*.a
target/
src/rust/target/
*.tmp
*.bak
temp.*
*.log
.DS_Store
disk.img
/iso/
